/* $Id:  */
.rating {
	cursor: pointer;
	margin: 2em;
	clear: both;
	display: inline;
}

.rating:after {
	content: '.';
	display: block;
	height: 0;
	width: 0;
	clear: both;
	visibility: hidden;
}

.cancel,.star {
	float: left;
	width: 17px;
	height: 15px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}

.star,.star a {
	background: url('images/star.png') no-repeat 0 0px;
}

.cancel a,.star a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0px;
}

div.rating div.on a {
	background-position: 0 -16px;
}

div.rating div.hover a,div.rating div a:hover {
	background-position: 0 -32px;
}

.span-total-rating {
  margin: 0px 20px !important;
}

.icon-mouse-over {
	background-color: yellow;
}

.icon-delete {
	background-image: url( images/delete-sprite.png ) !important;
	background-repeat: no-repeat;
	background-position: 0px -1px;
	width: 22px;
	height: 22px;
  margin: 0 10 0 0 !important;
	padding: 0px !important;
	cursor: pointer;
}

.icon-delete:hover {
  background-position: 0px -25px;
}

.icon-vote-up {
  background-image: url( images/updown-sprite.png ) !important;
  background-repeat: no-repeat;
  background-position: 0px -49px;
  width: 22px;
  height: 22px;
  margin: 0 10 0 0 !important;
  padding: 0px !important;
  cursor: pointer;
}

.icon-vote-up:hover {
  background-position: 0px -74px;
}

.icon-vote-down {
  background-image: url( images/updown-sprite.png ) !important;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 22px;
  height: 22px;
  margin: 0px !important;
  padding: 0px !important;
  cursor: pointer;
}

.icon-vote-down:hover {
  background-position: 0px -25px;
}
